# Godot 4+ specific ignores
.vscode/
.godot/
assetsnap/previews/*
*.godot
icon.svg
icon.svg.import
Working Project.csproj
Working Project.sln
images/*.import
addons/assetsnap/*.cfg
assets/models/*
*.sln
*.csproj
*.csproj.old
*.tscn
*.cfg