# Godot 4+ specific ignores
.vscode/
.godot/
groups/*.tres
assetsnap/previews/*
*.godot
icon.svg
icon.svg.import
Working Project.csproj
Working Project.sln
images/*.import
assets/*.*
assets/*/*.*
assets/*/*/*.*
addons\assetsnap\config.cfg